.container{
    display: flex;
    justify-content: space-between;
    padding:0 100px;
}

.context{
    margin-top: -750px;
    padding: 60px 0px;
    width: 19%;
    text-align: center;
    position:fixed;
}

.foto img{
    width: 150px;

}

.line{
    margin: 10px 0;
    width: 100%;
    border: .01rem solid #ccc;;
}

.meu_nome {
    width: 100%;
    text-align: center;
    padding: 0px 40px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
    color: rgb(128, 0, 255);
}


.context h4{
    font-weight: normal;
}

.meu_nome img{
    position: relative;
    width: 35px;
}

/*Ajustando SOCIAL*/
.social{
    display: flex;
    padding: 25px 30px;
    justify-content: space-between;

}

.social img{
    outline: none;
    width: 30px;
    
}

.social .linkedin,
.ig,
.git,
.EMAIL:hover[title]{
    color: blue;
}

[aria-label]{
    position: relative;
}

[aria-label]::after{
    content: attr(aria-label);
    display: none;
    position: absolute;
    top: 115%;
    left: -50px;
    align-items: center;
    z-index: 5000;
    pointer-events: none;
    padding: 6px 10px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(90deg, rgb(86, 136, 252) 0%,
    rgb(14, 59, 114)100%);
    text-align: center;
    border-radius: 30px;
    transform: 2s linear ease-in-out infinite;
}

[aria-label]:hover::after{
    display: block;
}

/*Lista do menu*/

.menu .MN{
    display: flex;
    width: 100%;
    text-align: justify;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.MN ul{
    display: flex;
    flex-direction: column;
}

.MN li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px 20px;
    text-align:justify ;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
}

.MN a{
    list-style: none;
    text-decoration: none;
}

.back:hover{
    background-color: rgba(86, 136, 252, 0.089);
    
}

.MN img{
    position: relative;
    width: 30px;
    margin: 0 0px 0 0;
    padding: 2px;
    background-color: transparent;
}


